body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #0000;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0;
  vertical-align: initial;

  color: #333;
  font-family: Roboto, sans-serif;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  outline: none;
  box-sizing: inherit;
}

* ::-webkit-scrollbar {
  background: #0000;
  height: 0;
  width: 0;
}

a {
  background: #0000;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: initial;
}
